@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-background text-on-background;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-surface-container-lowest;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-outline-variant rounded;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-container;
  }
}
