@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-background text-text-primary;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-surface-dim;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-outline rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}
